<div class="streams" [ngClass]="{'wide': isWideView()}">
  <md-icon *ngIf="isWideView()" (click)="toggleViewState()">chevron_left</md-icon>
  <md-icon *ngIf="!isWideView()" (click)="toggleViewState()">chevron_right</md-icon>
  
  <div class="row">
    <div class="main-stream">
      <video poster="https://www.html5rocks.com/en/tutorials/video/basics/poster.png">
        <source src="https://www.html5rocks.com/en/tutorials/video/basics/devstories.webm" type="video/webm;codecs=&quot;vp8, vorbis&quot;">
      </video>
    </div>
  </div>

  <div class="row">
    <div class="stream">
      <video poster="https://www.html5rocks.com/en/tutorials/video/basics/poster.png">
        <source src="https://www.html5rocks.com/en/tutorials/video/basics/devstories.webm" type="video/webm;codecs=&quot;vp8, vorbis&quot;">
      </video>
    </div>
    <div class="stream">
      <video poster="https://www.html5rocks.com/en/tutorials/video/basics/poster.png">
        <source src="https://www.html5rocks.com/en/tutorials/video/basics/devstories.webm" type="video/webm;codecs=&quot;vp8, vorbis&quot;">
      </video>
    </div>
    <div class="stream">
      <video poster="https://www.html5rocks.com/en/tutorials/video/basics/poster.png">
        <source src="https://www.html5rocks.com/en/tutorials/video/basics/devstories.webm" type="video/webm;codecs=&quot;vp8, vorbis&quot;">
      </video>
    </div>
  </div>
</div>