@import "./../../styles/variables";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
:host {
    display: block;
    flex: .2;
    transition: flex 0.5s ease-in-out;
    &.wide {
        flex: 0.6;
    }
}
.streams {
    position: relative;
    height: 100vh;
    background: $dark-bg;
    box-shadow: 10px 0px 25px -2px rgba(0, 0, 0, 0.5);
    padding: 4.5rem 3rem 3.5rem 3.5rem;
    video{
        border-radius: 5px;
        box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
        width: 100%;
    }
    .main-stream {
        @include make-col(12);
    }
    .stream {
        @include make-col(12);
    }
    &.wide {
        .main-stream {
            @include make-col(12);
            padding: $spacer*0.5;
        }
        .stream {
            @include make-col(4);
            padding: $spacer*0.5;
        }
    }


    .arrow-left,    
    .arrow-right {
        position: absolute;
        right: 12px;
        top: 12px;
    }
}