// Body
$body-bg: #1d1d1d;
$body-color: #FFFFFF; 

// Colors
$brand-primary: #ff100c;
$primary-hover: #E61500;
$color-gray: #acacac;

$dark-bg: #121212;

// Fonts
$font-family-sans-serif: Tahoma, Geneva, sans-serif;

//Modals
$modal-content-bg: #262626;

$modal-md: 800px;
$modal-header-border-color: transparent;

@import '~@angular/material/core/theming/all-theme';

@include md-core();
//$primary: $brand-primary;
$candy-app-primary: md-palette($md-red);
$candy-app-accent:  md-palette($md-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    md-palette($md-yellow);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: md-dark-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);