@import './../../../styles/variables.scss';

$player-bg: #2f2f2f;

:host {
	transition: transform 200ms linear;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: $player-bg;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
    display: block;
    border-radius: 5px;
    z-index: 0;

    &.active {
        opacity: 1;
    }
    
    .player-icon {
        //border-radius: 5px 0 0 5px;
        height: 84px;
        background-color: $brand-primary;
        background-image: url('assets/profile/badger.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
        vertical-align: middle;
        z-index: 0;
    }
    p {
        vertical-align: middle;
        margin: 0;
        text-align: center;
        padding: 1rem;
    }
}