<template #content let-c="close" let-d="dismiss">
  <div class="modal-sidenav">
    <ngb-tabset type="pills">
      <ngb-tab>
        <template ngbTabTitle><md-icon>people</md-icon></template>
        <template ngbTabContent>
          <div class="modal-header">
            <h4 class="modal-title">Spelare</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <md-icon>close</md-icon>            
            </button>
          </div>
          <div class="max-height-content row">
            <player-settings class="col-4" *ngFor="let player of players" [player]="player"></player-settings>
            <div class="col-12">
              <div class="add-btn" (click)="addPlayer()">
                <md-icon>add_circle</md-icon>
                <p>Lägg till spelare</p>
              </div>
            </div>
          </div>
        </template>
      </ngb-tab>
      <ngb-tab>
        <template ngbTabTitle><md-icon>assignment_turned_in</md-icon></template>
        <template ngbTabContent>
          <div class="modal-header">
            <h4 class="modal-title">Utmaningar</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <md-icon>close</md-icon>            
            </button>
          </div>
          <div class="max-height-content row">
            <challenge-settings class="col-4" *ngFor="let challenge of challenges" [challenge]="challenge"></challenge-settings>
            <div class="col-12">
              <div class="add-btn" (click)="addChallenge()">
                <md-icon>add_circle</md-icon>
                <p>Lägg till utmaning</p>
              </div>
            </div>
          </div>
        </template>
      </ngb-tab>
      <ngb-tab>
        <template ngbTabTitle><md-icon>settings</md-icon></template>
        <template ngbTabContent>
          <div class="modal-header">
            <h4 class="modal-title">Inställningar</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <md-icon>close</md-icon>            
            </button>
          </div>
        </template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</template>

<md-icon (click)="open(content)" placement="right" ngbTooltip="Inställningar">settings</md-icon>
