@import './../../styles/variables';
$modal-min-height: 500px;
.nav {
    min-height: $modal-min-height;
    background: $brand-primary;
    display: block;
    float: left;
    li a{
        padding: 2rem;

        &.active {
            background: $primary-hover !important;
        }
    }
}

.max-height-content {
    display: flex;
    padding: 2rem;
    overflow: scroll;
    max-height: 432px;
}

.add-btn {
    cursor: pointer;
    md-icon, p {
        color: $color-gray;
        &:hover { color: #FFF; }
        vertical-align: middle;
        display: inline-block;
        margin: 0;
    }
}

.modal-header {
    background: $body-bg;
}

.modal-content {
    min-height: $modal-min-height;
    border-radius: 10px;
}

md-icon {
    color: #FFF;
    cursor: pointer;
    &:hover {
        color: #FFF;
    }
}