<template #content let-c="close" let-d="dismiss">
  <div class="modal-sidenav">
    <ngb-tabset type="pills">
      <ngb-tab>
        <template ngbTabTitle><md-icon>people</md-icon></template>
        <template ngbTabContent>
          <div class="modal-header">
            <h4 class="modal-title">Spelare</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <md-icon>close</md-icon>            
            </button>
          </div>
          <div class="p-3">
            <player-settings *ngFor="let player of players" [player]="player"></player-settings>
          </div>
        </template>
      </ngb-tab>
      <ngb-tab>
        <template ngbTabTitle><md-icon>settings</md-icon></template>
        <template ngbTabContent>
          <div class="modal-header">
            <h4 class="modal-title">Inställningar</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <md-icon>close</md-icon>            
            </button>
          </div>
        </template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</template>

<md-icon (click)="open(content)" placement="right" ngbTooltip="Inställningar">settings</md-icon>
