@import './../../styles/variables';
$modal-min-height: 500px;
.nav {
    min-height: $modal-min-height;
    background: $brand-primary;
    display: block;
    float: left;
    li a{
        padding: 2rem;

        &.active {
            background: #E61500 !important;
        }
    }
}

.content {
    display: flex;
    padding: 2rem;
}

.modal-header {
    background: #1f1f1f;
}

.modal-content {
    min-height: $modal-min-height;
    border-radius: 10px;
}

md-icon {
    color: #FFF;
    cursor: pointer;
    &:hover {
        color: #FFF;
    }
}